*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  border-spacing: 0;
}

.wrapper {
  background: #D9E021;
}

.banner {
  background: white;
  text-align: center;
}

.logo {

}

.nav {
  background: #ED824E;
  color: white;
  text-align: center;
}

.nav td {
  padding: 5px
}

.nav a {
  color: inherit;
  background: inherit;
  text-decoration: none;
}

.nav td:hover {
  background: white;
  color: #ED824E;
}

.content {
  background: white;
  color: #F15A24;
  padding: 10px 50px;
}

.content tr td {
  vertical-align: top;
}

.content h1 {

}

.mayus {
  text-transform: uppercase;
  font-size: 18px;
}

.content h2 {
  padding: 20px 0;
  font-weight: normal;
}

.content pre {
  font-size: 18px;
}

.divisor {
  background: #ED824E;
  height: 30px;
}

.imageContainer {
  padding: 10px;
}

.imageContainer img{
  padding: 10px;
}


.footer {
  height: 50px;
  background: #ED824E;
}
